body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
  height: 3000px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #8590a6; }

div {
  display: block; }

.appHeader {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1); }
  .appHeader .appHeader-inner {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 52px;
    margin: 0 auto; }
    .appHeader .appHeader-inner .appHeader-Tabs {
      display: flex;
      margin: 0 23px; }
      .appHeader .appHeader-inner .appHeader-Tabs .appHeader-Tab {
        padding: 0 17px; }
    .appHeader .appHeader-inner .searchBar {
      display: flex; }
      .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper {
        width: 326px; }
        .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper {
          width: 326px;
          height: 34px;
          display: flex;
          background-color: #f6f6f6;
          border: 1px solid #ebebeb;
          border-radius: 3px;
          padding: 4px 10px;
          padding-right: 0; }
          .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper .input {
            flex: 1;
            height: 24px;
            line-height: 24;
            background-color: transparent;
            outline: none;
            border: none; }
          .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper .searchBar-searchButton {
            border: none;
            background-color: transparent;
            padding: 0 12px;
            color: #8590a6; }
      .appHeader .appHeader-inner .searchBar .searchBar-askButton {
        color: #fff;
        background-color: #0084ff;
        border: 1px solid #0084ff;
        border-radius: 3px;
        padding: 0 14px;
        margin-left: 16px; }
