body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
  height: 3000px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #8590a6; }

div {
  display: block; }

button {
  border: none;
  background-color: transparent; }

.appHeader {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  .appHeader .appHeader-inner {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 52px;
    margin: 0 auto; }
    .appHeader .appHeader-inner .appHeader-Tabs {
      display: flex;
      margin: 0 23px; }
      .appHeader .appHeader-inner .appHeader-Tabs .appHeader-Tab {
        padding: 0 17px; }
    .appHeader .appHeader-inner .searchBar {
      display: flex; }
      .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper {
        width: 326px; }
        .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper {
          width: 326px;
          height: 34px;
          display: flex;
          background-color: #f6f6f6;
          border: 1px solid #ebebeb;
          border-radius: 3px;
          padding: 4px 12px;
          padding-right: 0; }
          .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper .input {
            flex: 1;
            height: 24px;
            line-height: 24;
            background-color: transparent;
            outline: none;
            border: none;
            color: #828CA2; }
          .appHeader .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .input-wrapper .searchBar-searchButton {
            border: none;
            background-color: transparent;
            padding: 0 12px;
            color: #8590a6; }
      .appHeader .appHeader-inner .searchBar .searchBar-askButton {
        color: #fff;
        background-color: #0084ff;
        border: 1px solid #0084ff;
        border-radius: 3px;
        padding: 0 14px;
        margin-left: 16px; }
  .appHeader .appHeader-userInfo {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center; }
    .appHeader .appHeader-userInfo .appHeader-notifications, .appHeader .appHeader-userInfo .appHeader-messages {
      margin-right: 40px;
      color: #7A859C;
      position: relative; }
      .appHeader .appHeader-userInfo .appHeader-notifications .css-ybodb, .appHeader .appHeader-userInfo .appHeader-messages .css-ybodb {
        position: absolute;
        color: #fff;
        background-color: #EF3835;
        border: 2px solid #fff;
        border-radius: 20px;
        padding: 0 4px;
        bottom: 50%;
        left: 50%; }

.topstory {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px; }
  .topstory .topstory-mainColumn {
    width: 694px;
    background-color: #fff;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1); }
    .topstory .topstory-mainColumn .topstory-tabCard {
      border-radius: 2px; }
      .topstory .topstory-mainColumn .topstory-tabCard .topstoryTabs {
        display: flex;
        border-bottom: 1px solid #f0f2f7;
        height: 58px;
        align-items: center; }
        .topstory .topstory-mainColumn .topstory-tabCard .topstoryTabs .topstoryTabs-link {
          margin: 0 22px;
          font-size: 16px;
          color: #1a1a1a; }
    .topstory .topstory-mainColumn .topstoryItem {
      border-bottom: 1px solid #f0f2f7;
      padding: 20px; }
      .topstory .topstory-mainColumn .topstoryItem .ContentItem-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6;
        color: #1a1a1a;
        margin-top: 9px;
        margin-bottom: -4px; }
      .topstory .topstory-mainColumn .topstoryItem .RichContent-inner {
        margin-top: 9px;
        overflow: hidden; }
        .topstory .topstory-mainColumn .topstoryItem .RichContent-inner .Button {
          color: #175199; }
  .topstory .globalSideBar {
    flex: 1;
    background-color: #fff; }
