* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;
  height: 2000px; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer; }

.topNavBar {
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }
  .topNavBar .appHeader-inner, .topNavBar .pageHeader-inner {
    display: flex;
    width: 1000px;
    height: 52px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
    position: relative; }
    .topNavBar .appHeader-inner .tabs, .topNavBar .pageHeader-inner .tabs {
      display: flex;
      width: 222px;
      margin: 0 23px;
      float: left; }
      .topNavBar .appHeader-inner .tabs .tabsItem, .topNavBar .pageHeader-inner .tabs .tabsItem {
        padding: 0 17px; }
        .topNavBar .appHeader-inner .tabs .tabsItem a, .topNavBar .pageHeader-inner .tabs .tabsItem a {
          display: inline-block;
          color: #8590a4; }
          .topNavBar .appHeader-inner .tabs .tabsItem a:hover, .topNavBar .pageHeader-inner .tabs .tabsItem a:hover {
            color: #444; }
    .topNavBar .appHeader-inner .searchBar, .topNavBar .pageHeader-inner .searchBar {
      display: flex; }
      .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper {
        width: 326px; }
        .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool {
          display: block;
          position: relative; }
          .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper {
            display: flex;
            align-items: center;
            width: 326px;
            height: 34px;
            background: #f6f6f6;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            padding-left: 12px; }
            .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-input, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-input {
              width: 256px;
              height: 24px;
              line-height: 24px;
              background-color: transparent;
              border: none; }
              .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-input:focus, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-input:focus {
                outline: none; }
            .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-button, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-button {
              margin-left: 12px;
              padding: 0 12px;
              font-size: 14px;
              line-height: 32px; }
              .topNavBar .appHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-button .searchIcon, .topNavBar .pageHeader-inner .searchBar .searchBar-toolWrapper .searchBar-tool .searchBar-inputWrapper .searchBar-button .searchIcon {
                font-size: 14px;
                line-height: 32;
                color: #8590a6; }
      .topNavBar .appHeader-inner .searchBar .askButton, .topNavBar .pageHeader-inner .searchBar .askButton {
        background-color: #0084ff;
        border-radius: 3px;
        padding: 0 14px;
        margin-left: 16px;
        outline: none;
        color: #fff;
        border: 1px solid #0084ff; }
    .topNavBar .appHeader-inner .userInfo, .topNavBar .pageHeader-inner .userInfo {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center; }
      .topNavBar .appHeader-inner .userInfo button, .topNavBar .pageHeader-inner .userInfo button {
        margin-right: 40px;
        text-align: center; }
        .topNavBar .appHeader-inner .userInfo button svg, .topNavBar .pageHeader-inner .userInfo button svg {
          color: #8590a6; }

.topStory-container {
  width: 1000px;
  margin: 60px auto;
  padding: 0 16px;
  display: flex; }
  .topStory-container .topStory-mainColumn {
    width: 649px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    margin-right: 10px; }
    .topStory-container .topStory-mainColumn .tabCard {
      height: 58px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f0f2f7; }
      .topStory-container .topStory-mainColumn .tabCard a {
        font-size: 16px;
        margin: 0 22px; }
  .topStory-container .globalSliceBar {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1); }
